apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\ProgramData\chocolatey\lib\kubernetes-kompose\tools\kompose.exe convert -f .\docker-compose.yml
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: api
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: api
  template:
    metadata:
      annotations:
        kompose.cmd: C:\ProgramData\chocolatey\lib\kubernetes-kompose\tools\kompose.exe convert -f .\docker-compose.yml
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: api
    spec:
      containers:
        - env:
            - name: SPRING_APPLICATION_JSON
              value: |
                {
                  "spring.datasource.url" : "jdbc:postgresql://db:5432/postgres",
                  "spring.datasource.username" : "postgres",
                  "spring.datasource.password" : "helo",
                  "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.PostgreSQLDialect",
                  "spring.jpa.hibernate.ddl-auto" : "create-drop"
                }
          image: api
          name: api
          ports:
            - containerPort: 7000
              protocol: TCP
      restartPolicy: Always
